<!DOCTYPE html>
<html lang="en">  <!-- o 'en' se preferisci -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Quiz Platform{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <script>
        MathJax = {
            tex: {
                inlineMath: [['\\(', '\\)']],
                displayMath: [['\\[', '\\]']]
            },
            svg: {
                fontCache: 'global'
            }
        };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

</head>
<body>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>